.materia-card {
    width: 20vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    padding: 1em;
    cursor: pointer;
}

#materiasContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    flex-wrap: wrap;
}

#card-atual {
    width: 85vw;
    display: flex;
    text-align: center;
    margin-left: 5vw;
    font-size: 1.5em;
    line-height: 1.5em;
    flex-direction: column;
    padding: 1em;
    box-sizing: border-box;
    margin-bottom: 1em;
}

#botao-proxima-questao {
    width: 200px;
    height: 50px;
    background-color: lightgreen;
    font-size: 1.5em;
}

@media screen and (max-width: 600px) {
    #materiasContainer {
        flex-direction: column;
    }

    .materia-card {
        width: 70vw;
        font-size: 1.5em;
    }
}